.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #f3f8f7;
  margin: auto;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 0px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  font-family: 'Calibri';
  font-size: 36px;
  font-weight: bold;
}

.navbar {
  background-color: #f3f8f7;
}

.navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;
  color: #6e9e96;
}

.navbar .container-fluid .nav-link {
  color: #6e9e96;
}

.navbar .container-fluid .nav-link:hover {
  background-color: none;
  color: #66bdae;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.navbar .container-fluid img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid .navbar-toggler {
  background-color: #f3f8f7;
  border-color: #6e9e96;
}

.sobremi {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 0px;
  background-color: #6e9e96;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #1f392d;
}

.sobremi .hola {
  padding: 20px;
}

.sobremi .hola h4 {
  font-family: 'Calibri';
  font-weight: bold;
  color: #f3f8f7;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.sobremi img {
  padding: 0px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.sobremi p {
  margin: 0px 0px 0px 0px;
  font-family: 'Calibri';
  color: #f3f8f7;
}

.inicio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 30px 20px 30px 20px;
  text-align: center;
  background-color: #f3f8f7;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #d7d7d7;
}

.inicio h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 36px;
  color: #6e9e96;
}

.inicio p {
  font-family: 'Calibri';
  color: #1f392d;
  font-size: 18px;
  margin-top: 5px;
}

.inicio h3 {
  background-color: none;
  color: #6e9e96;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.lastmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%), url(../images/banner2.jpg);
  background-repeat: fixed 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

.maincasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.maincasos .caso {
  background-color: #6e9e96;
  border: solid 1px #3e4a4830;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.maincasos .caso img {
  background-color: none;
  max-width: 100%;
  border: none;
  border-radius: 10px;
}

.maincasos h2 {
  font-family: 'Calibri';
  font-weight: bolder;
  font-size: 50px;
  color: #FFFFFF;
  text-justify: left;
  text-align: left;
  border-bottom: solid 1px #FFFFFF30;
  margin-top: 0px;
}

.maincasos p {
  font-family: 'Calibri';
  color: #FFFFFF;
  font-size: 16px;
  text-align: left;
  margin: 5px 10px 0px 0px;
}

.lastmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lastmain .lastmaincontainer {
  background-color: #f3f8f7;
  font-size: 18px;
}

.servicio {
  background-color: #f3f8f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 100%;
  -webkit-filter: drop-shadow(-1px 1px 7px #2b544224);
          filter: drop-shadow(-1px 1px 7px #2b544224);
}

.servicio img {
  display: block;
  margin: 0px auto;
  padding: 10px 10px 10px 0px;
  text-align: center;
  height: 200px;
}

.servicio .servicio-texto {
  font-family: 'Calibri';
  color: #282828;
  font-size: 16px;
  text-align: left;
  margin: 0px 20px 20px 20px;
  text-align: center;
}

.servicio h2 {
  background-color: none;
  color: #5b8881;
  font-family: 'Calibri';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 20px 20px 0px 20px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  background-image: linear-gradient(45deg, #52947530 0%, #8bd6c930 50%, #f0fdf730 100%), url(../images/bannerindex.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .banner__container {
  margin: auto;
  padding: auto;
  z-index: 1;
}

.banner .banner__container__img {
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: drop-shadow(-1px 1px 7px #111815b3);
          filter: drop-shadow(-1px 1px 7px #111815b3);
}

.h1banner {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #f3f8f7;
  border-top: solid 1px;
  border-color: #fdf8f05d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: #111815b3 0.1em 0.1em 0.2em;
  font-size: 20px;
  letter-spacing: 20px;
  text-justify: center;
  text-align: center;
}

.banner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%), url(../images/bannercasos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner2__container2 {
  margin: 0;
  padding: 0;
}

.banner2 h1 {
  font-family: 'Montserrat', sans-serif;
  color: #f3f8f7;
  border-bottom: solid 1px;
  border-color: #fdf8f05d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: #111815b3 0.1em 0.1em 0.2em;
  font-size: 48px;
  letter-spacing: 10px;
  text-justify: center;
  text-align: center;
}

.banner2 p {
  font-family: 'Montserrat', sans-serif;
  background-color: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  text-shadow: #111815b3 0.1em 0.1em 0.2em;
}

.accordion {
  margin: 20px 0px 20px 0px;
}

.accordion .accordion-button {
  font-family: 'Calibri';
  font-size: 22px;
  font-weight: bold;
  color: #5b8881;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #b1d4ce;
  font-family: 'Calibri';
  font-style: normal;
  padding: 20px;
}

.foot h4 {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #3e4a48;
  border-bottom: solid 1px #3e4a4850;
}

.foot .footmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot .footmenu .iconlist {
  margin: 5px 5px 0px 0px;
}

.foot .footmenu .iconlist:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.foot .footmenu ul {
  text-decoration: none;
  list-style-type: none;
}

.foot .footmenu li {
  font-family: 'Calibri';
}

.foot .footmenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: 'Calibri';
  text-decoration: none;
  font-weight: bold;
  color: #3e4a48;
}

.foot .footmenu a:hover {
  color: #1f392d;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.foot .formbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot .formbox .footinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.foot .formbox .footinput input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0fdf7;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  width: 100%;
}

.foot .foottext textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0fdf7;
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  border: none;
  border-radius: 5px;
}

.foot .foottext button {
  background-color: #6e9e96;
  border: solid 1px #3e4a4830;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.foot .foottext button .foottext button:hover {
  background-color: #3e4a48;
}

.foot .footrrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot .footrrss ul {
  text-decoration: none;
  list-style-type: none;
}

.foot .footrrss a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Calibri';
  text-decoration: none;
  font-weight: bold;
  color: #3e4a48;
}

.foot .footrrss a:hover {
  color: #1f392d;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.foot .footrrss .iconrrss {
  margin: 5px 10px 0px 0px;
  width: 33px;
  height: 33px;
  -webkit-filter: invert(24%) sepia(10%) saturate(591%) hue-rotate(120deg) brightness(98%) contrast(84%);
          filter: invert(24%) sepia(10%) saturate(591%) hue-rotate(120deg) brightness(98%) contrast(84%);
}

.footcopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5%;
  font-size: 12px;
  background-color: #f3f8f7;
  font-family: 'Calibri';
  font-style: normal;
  color: #1f392d;
  text-decoration: none;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f3f8f7;
}
/*# sourceMappingURL=main.css.map */