*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: radial-gradient(circle, rgba(244,245,240,1) 0%, rgba(230,238,237,1) 47%, rgba(223,235,233,1) 100%);
}

/* BANNER */
/*.banner {
    display: flex;
    justify-content: center;
    height: 600px;
    background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%), url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/
/* SLIDER SIN BOOTSTRAP */ /* Listo para mergear */
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambioslider 30s infinite normal;
}

.slider li {
    list-style: none;
    width: 100%;

    
}
.slider img{
    width: 100%;
}
.slider li:before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%);
    opacity: 0.5;
    z-index: -1;
}

@keyframes cambioslider {
    0%  { margin-left: 0%;}
    20% { margin-left: 0%;}
    30% { margin-left: -100%;}
    50% { margin-left: -100%;}
    60% { margin-left: -200%;}
    80% { margin-left: -200%;}
    85% { margin-left: -300%;}
    100% { margin-left: -300%;}
}



.banner__container {
    margin: auto;
    padding: auto;
    z-index: 1;
}

.banner__container__img {
    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-1px 1px 7px #111815b3);
}

.h1banner {
    font-family: 'Calibri';
    color: #f3f8f7;
    border-top: solid 1px;
    border-color: #fdf8f05d;
    flex-direction: column;
    align-items: center;
    text-shadow: #111815b3 0.1em 0.1em 0.2em;
    font-size: 20px;
    letter-spacing: 20px;
    text-justify: center;
    text-align: center;
}

/* BANNER 2 */
.banner2 {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%), url(../images/bannercasos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.banner__container2 {
    margin: auto;
    padding: auto;
}

.banner__container__img2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-1px 1px 7px #111815b3);
}

.h1banner2 {
    font-family: 'Calibri';
    color: #f3f8f7;
    border-bottom: solid 1px;
    border-color: #fdf8f05d;
    flex-direction: column;
    align-items: center;
    text-shadow: #111815b3 0.1em 0.1em 0.2em;
    font-size: 48px;
    letter-spacing: 10px;
    text-justify: center;
    text-align: center;
}

.banner2 p {
    background-color: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Calibri';
    font-size: 28px;
    text-shadow: #111815b3 0.1em 0.1em 0.2em;
}

/* HEADER */
header {
    background: #f3f8f7;
    background-color: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%);
    margin: 0px;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 0px;
    transition: 0.5s ease-out;
}

.navbar__logo {
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    align-items: left;
}

.navbar {
    height: 85px;
    margin: 0px;
    list-style: none;
    background-color: #f3f8f7;
    font-family: 'Calibri';
    font-weight: bold;
    color: none;
}

.navbar ul {
    background-color: #f3f8f7;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: none;
  }


  
.navbar a {
    list-style: none;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    background-color: none;
}

.navbar li a:hover {
    background-color: #6e9e96;
    background-size: 100%;
    height: 85px;
    margin: 0px;
    color: #f3f8f7;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.5s ease-out;
}

.navlink {
    padding: 0px;
    margin: 0px;
    color: #6e9e96;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.nav-item {
    padding: 0px;
    margin: 0px;
}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0vh ; 
    margin-right: 0vh;
}

.main h2 {
    font-family: 'Calibri';
    font-weight: bolder;
    font-size: 50px;
    color: #5b8881;
    text-justify: center;
    text-align: center;
}

.main p {
    font-family: 'Calibri';
    color: #121212;
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
}

.main h3 {
    background-color: none;
    color: #5b8881;
    font-family: 'Calibri';
    font-size: 28px;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.lastmain {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%), url(../images/banner2.jpg);
    background-repeat: fixed 100%;
    background-position: center;
    background-size: cover; 
    transition: 2s ease-out;
}

.lastmaintitle {
    display: flex;
    justify-content: center;
    background-color: #5b8881;
    margin: 5%;
    margin-left: 35vh;
    margin-right: 0px;
    padding: 20px 20px 20px 30px;
    font-family: 'Calibri';
    font-size: 20px;

    color: #f3f8f7;
}

.lastmaincontainer {
    display: flex;
    justify-content: center;
    background-color: #f3f8f7;
    margin: 5%;
    margin-right: 35vh;
    margin-left: 0%;
    padding: 3%;
    font-family: 'Calibri';
    color: #121212;
}

/* MAIN CASOS */ 
.maincasos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30vh ; 
    margin-right: 30vh;
}

.caso {
    display: grid;
    grid-template-columns: repeat(0.5fr, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    background-color: #6e9e96;
    border: solid 1px #3e4a4830;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    height: 235px;

}
.casofoto { 
    grid-area: 1 / 1 / 3 / 2; 
}

.casonombre {
    grid-area: 1 / 2 / 2 / 3;
}

.casotexto {
    grid-area: 2 / 2 / 3 / 3; 
}

.caso img {
    background-color: none;
    max-width: 100%;
    border: none;
    border-radius: 5px;
}

.caso h2 {
    font-family: 'Calibri';
    font-weight: bolder;
    font-size: 50px;
    color: #FFFFFF;
    text-justify: left;
    text-align: left;
    border-bottom: solid 1px #FFFFFF30;
    margin-top: 0px;
}

.caso p {
    font-family: 'Calibri';
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    margin: 5px 10px 10px 0px;
}


/* FOOTER */
.foot {
    display: grid;
    grid-template-columns: auto 40% auto;
    column-gap: 80px;
    justify-content: center;
    background-color: #b1d4ce;
    font-family: 'Calibri';
    font-style: normal;
}

.foot h4 {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #3e4a48;
    border-bottom: solid 1px #3e4a4850;
}

.footmenu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footmenu .iconlist {
    margin: 5px 5px 0px 0px;
}

.footmenu .iconlist:hover {
    filter: opacity(0.8);
}

.footmenu ul {
    text-decoration: none;
    list-style-type: none;
}

.footmenu ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.footmenu ul li a:hover {
    text-decoration: underline;
    filter: opacity(0.8);
}

.formbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footinput {
    display: flex;
    justify-content: space-between;
    background-color: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footinput input {
    display: flex;
    background-color: #f0fdf7;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    width: 100%;
}

.foottext textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f0fdf7;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    border: none;
    border-radius: 5px;
}

.foottext button {
    background-color: #6e9e96;
    border: solid 1px #3e4a4830;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.foottext button:hover {
    background-color: #3e4a48;
}

.footrrss {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.footrrss ul {
    text-decoration: none;
    list-style-type: none;
}

.footrrss ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footrrss a:hover {
    text-decoration: underline;
    filter: opacity(0.8);
}

.iconrrss {
    margin: 5px 10px 0px 0px;
    width: 40px;
    height: 40px;
    filter: invert(24%) sepia(10%) saturate(591%) hue-rotate(120deg) brightness(98%) contrast(84%);;
}

.foot a {
    list-style: none;
    color:#3e4a48;
    text-decoration: none;
    font-weight: bold;
}

/* COPY */
.footcopy {
    display: flex;
    justify-content: center;
    padding: 0.5%;    
    font-size: 12px;
    background-color:#f3f8f7;
    font-family: 'Calibri';
    font-style: normal; 
    color: #1f392d;
    text-decoration: none;
    text-align: center;
}


/* MEDIA */ 
