footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b1d4ce;
    font-family: 'Calibri';
    font-style: normal;
    padding: 30px 0px 30px 0px;
    margin: 0px;
    
    img {
        justify-content: center;
    }

    h4 {
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color: $color-marca; 
    }

    .footmenu {
        display: flex;
        justify-content: center;

        .iconlist {
            margin: 5px 5px 0px 0px;
        }
    
        a:hover {
            filter: invert(68%) sepia(77%) saturate(213%) hue-rotate(120deg) brightness(86%) contrast(100%);
            transition: 0.5s;
        }

        ul {
            text-decoration: none;
            list-style-type: none;
        }
        li {
            font-family: 'Calibri';
            padding: 0px 5px 0px 5px;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            font-family: 'Calibri';
            text-decoration: none;
            font-weight: bold;
            color: $color-marca;
        }

        a:hover {
            filter: invert(68%) sepia(77%) saturate(213%) hue-rotate(120deg) brightness(86%) contrast(100%);
            transition: 0.5s;
        }
    }  

    .footrrss {
        .footlogo {
            width: 220px;
            margin: 0px 0px 5px 0px;
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .rrss {
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                height: 40px;
                margin: 0px 10px 0px 10px;
            }
    
            img:hover {
                filter: invert(68%) sepia(77%) saturate(213%) hue-rotate(120deg) brightness(86%) contrast(100%);
                transition: 0.5s;
            }
        }
    }

    .newsletter {

        h4 {
            text-align: left;
        }

        input {
            background-color: $color-casiblanco;
            border: none;
            border-radius: 5px 0px 0px 5px;
            padding: 10px;
            margin: 0px;
            width: 110px;
            height: 30px;
        }
        button {
            background-color: $color-marca;
            border: solid 1px #3e4a4830;
            width: 50px;
            height: 30px;
            border-radius: 0px 5px 5px 0px;
            color: $color-casiblanco;
            padding: 0px;
            margin: 0px;
            font-size: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
    
                &:hover {
                background-color: $color-marca-active;
                color: $color-marca-dark;
                transition: 0.5s;
                }
            }
        }
    
    

















    .formbox {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .footinput {
            display: flex;
            justify-content: space-between;
            background-color: none;
            margin-top: 10px;
            margin-bottom: 10px;
    

        }
    }

    

    .foottext textarea{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #f0fdf7;
        width: 100%;
        height: 100px;
        padding: 5px;
        margin: 0px 10px 10px 0px;
        border: none;
        border-radius: 5px;
    }

    .foottext button {
        background-color: #6e9e96;
        border: solid 1px #3e4a4830;
        border-radius: 5px;
        color: white;
        padding: 5px 10px;
        margin: 0px 10px 10px 0px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

            .foottext button:hover {
            background-color: #3e4a48;
        }
    }

    
}

.footcopy {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-color: $color-casiblanco;
    color: $color-marca-dark;
}