header {
    background: $color-casiblanco;
    background-color: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%);
    margin: 0px;
    padding: 0px;
    width: 100%;
    transition: 0.5s ease-out;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        margin: 0px;
        list-style: none;
        background-color: $color-casiblanco;
        font-family: 'Calibri';
        font-size: map-get($tamanio-tipografia, titulo);
        font-weight: bold;
        color: none;

        .ul {
            background-color: $color-casiblanco;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            background-color: none;
        }
    
        .li {
            background-color: none;
            font-size: map-get($tamanio-tipografia, titulo);
        }

        .navbar a {
            list-style: none;
            text-decoration: none;
            padding: 20px;
            margin: 20px;
            background-color: none;
        }

        .navbar a:hover {
            background-color: $color-marca;
            background-size: 100%;
            height: 85px;
            margin: 0px;
            color: $color-casiblanco;
            font-weight: bold;
            border-radius: 20px;
            transition: 0.5s ease-out;
        }
    
        .navlink {
            padding: 0px;
            margin: 0px;
            color: $color-marca;
            letter-spacing: 1.5px;
            font-size: 18px;
        }
    
        .nav-item {
            padding: 0px;
            margin: 0px;
        }

        .navbar__logo {
            width: 100px;
            height: 30px;
            margin: 0px;
            padding: 0px;

            .a {
                background-color: none;
            }
            .a:hover {
                background-color: none;
            }
        }
    }
}
