header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $color-casiblanco;
    margin: 0px;
    width: 100vh;
    padding: 0px;
    transition: 0.5s ease-out;
    font-family: 'Calibri';
    font-size: map-get($tamanio-tipografia, titulo);
    font-weight: bold;
}
