header {
    background: #f3f8f7;
    background-color: linear-gradient(45deg, #52947560 0%, #8bd6c960 50%, #f0fdf760 100%);
    margin: 0px;
    height: 85px;
    width: 100%;
    padding: 0px;
    transition: 0.5s ease-out;
}