.sobremi {
    justify-content: center;
    padding: 20px;
    margin: 0px;
    background-color: $color-marca;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: $color-marca-dark;

    .hola {
        padding: 20px;

        h4 {
            font-family: 'Calibri';
            font-weight: bold;
            color: $color-casiblanco;
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            
        }
    }

    img {
        padding: 0px;
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    
    p {
        margin: 0px 0px 0px 0px;
        font-family: 'Calibri';
        color: $color-casiblanco;
    }
}


